.vs
.vs\*
.vs/model_crud/copilot-chat/cfb87ca4/sessions/176a85c0-beca-4b27-8d68-5b14096fa122
.vs/model_crud/CopilotIndices/17.14.1518.61961/CodeChunks.db
.vs/model_crud/CopilotIndices/17.14.1518.61961/SemanticSymbols.db
.vs/model_crud/DesignTimeBuild/.dtbcache.v2
.vs/model_crud/FileContentIndex/428512db-2e8c-47ea-b7cc-6cd7ef3380ec.vsidx
.vs/model_crud/v17/.futdcache.v2
.vs/model_crud/v17/.suo
.vs/model_crud/copilot-chat/cfb87ca4/sessions/176a85c0-beca-4b27-8d68-5b14096fa122
.vs/model_crud/CopilotIndices/17.14.1518.61961/CodeChunks.db
.vs/model_crud/CopilotIndices/17.14.1518.61961/SemanticSymbols.db
.vs/model_crud/DesignTimeBuild/.dtbcache.v2
.vs/model_crud/FileContentIndex/428512db-2e8c-47ea-b7cc-6cd7ef3380ec.vsidx
.vs/model_crud/v17/.futdcache.v2
.vs/model_crud/v17/.suo
.vs/model_crud/v17/DocumentLayout.backup.json
.vs/model_crud/v17/DocumentLayout.json
.vs/ProjectEvaluation/model_crud.metadata.v9.bin
.vs/ProjectEvaluation/model_crud.projects.v9.bin
.vs/ProjectEvaluation/model_crud.strings.v9.bin
